name: Build Static Site

on:
  workflow_dispatch:   # 允许手动点按钮触发
  push:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: 18

      - name: Install pnpm
        run: npm install -g pnpm

      - name: Install deps
        run: pnpm install

      - name: Build project
        run: pnpm run build

      - name: Upload build files
        uses: actions/upload-artifact@v4
        with:
          name: idify-build
          path: dist

